button{
    background-color: rgb(51, 119, 184);
    font-style: oblique;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 60px;
    font-size: 15px;
}

.textCenter{
    border-style: solid;
    border-color: rgb(13, 138, 255);
    border-width: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-style: oblique;
    color: rgb(41, 161, 170);
}

#jsonExtraer{
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto 0 auto;
    text-align: left;
}

#jsonExtraer li{
    margin-bottom: 10px;
    padding: 8px;
    border-bottom: 1px solid rgb(13, 138, 255);
}
